---
layout: document
title: CCNx Messages in TLV Format
#permalink: /documents/messages
githuburl: https://github.com/PARC/ccnx-messages
pdfurl: https://github.com/PARC/ccnx-messages/raw/master/draft-irtf-icnrg-ccnxmessages-01.pdf
txturl: https://github.com/PARC/ccnx-messages/raw/master/draft-irtf-icnrg-ccnxmessages-01.txt
---

<div class="col-md-4">
  <div class='wrapper text-center'>
      <h2>Downloads</h2>
      <div class="btn-group-vertical">
          <button type="button" class="btn" style="margin:10px;"><a href="{{page.pdfurl}}" role="button">Download PDF</a></button>
          <button type="button" class="btn" style="margin:10px;"><a href="{{page.txturl}}" role="button">Download TXT</a></button>
          <button type="button" class="btn" style="margin:10px;"><a href="{{page.githuburl}}" role="button">View on GitHub</a></button>
      </div>
      <hr/>
  </div>
  <br/>
  <div class='wrapper text-center'>
    <h2 id="toc">Table of Contents</h2>
  </div>
  {% include internals/messages_toc.html %}
  <br clear="all" />
</div>

<div class="col-md-8 rfc-text">
  <ol class="breadcrumb">
      <li>Documents</li>
      <li>Core Protocol</li>
      <li>{{page.title}}</li>
  </ol>

  {% include internals/messages_header.html %}
  {% include internals/messages_body.html %}

</div>
