<table summary="layout" cellpadding="0" cellspacing="2" class="TOCbug" align="right"><tr><td class="TOCbug"><a href="#toc">&nbsp;TOC&nbsp;</a></td></tr></table>
<table summary="layout" width="66%" border="0" cellpadding="0" cellspacing="0"><tr><td><table summary="layout" width="100%" border="0" cellpadding="2" cellspacing="1">
<tr><td class="header">ICNRG</td><td class="header">M. Mosko</td></tr>
<tr><td class="header">Internet-Draft</td><td class="header">I. Solis</td></tr>
<tr><td class="header">Intended status: Experimental</td><td class="header">C. Wood</td></tr>
<tr><td class="header">Expires: September 15, 2016</td><td class="header">PARC, Inc.</td></tr>
<tr><td class="header">&nbsp;</td><td class="header">March 14, 2016</td></tr>
</table></td></tr></table>
<h1><br />CCNx Semantics<br />draft-irtf-icnrg-ccnxsemantics-01</h1>

<h3>Abstract</h3>

<p>This document describes the core concepts of the CCNx architecture and presents
        a minimum network protocol based on two messages: Interest and Content Object.
      It specifies the set of mandatory and optional fields within those messages
      and describes their behavior and interpretation. This architecture and protocol
      specification is independent of a specific wire encoding.
</p>
<p>The protocol also uses a Control message called an InterestReturn, whereby
      one system can return an Interest message to the previous hop due to an
      error condition.  It indicates to the previous hop that the current system will
      not respond to the Interest.
</p>
<h3>Status of this Memo</h3>
<p>
This Internet-Draft is submitted  in full
conformance with the provisions of BCP&nbsp;78 and BCP&nbsp;79.</p>
<p>
Internet-Drafts are working documents of the Internet Engineering
Task Force (IETF).  Note that other groups may also distribute
working documents as Internet-Drafts.  The list of current
Internet-Drafts is at http://datatracker.ietf.org/drafts/current/.</p>
<p>
Internet-Drafts are draft documents valid for a maximum of six months
and may be updated, replaced, or obsoleted by other documents at any time.
It is inappropriate to use Internet-Drafts as reference material or to cite
them other than as &ldquo;work in progress.&rdquo;</p>
<p>
This Internet-Draft will expire on September 15, 2016.</p>

<h3>Copyright Notice</h3>
<p>
Copyright (c) 2016 IETF Trust and the persons identified as the
document authors.  All rights reserved.</p>
<p>
This document is subject to BCP 78 and the IETF Trust's Legal
Provisions Relating to IETF Documents
(http://trustee.ietf.org/license-info) in effect on the date of
publication of this document.  Please review these documents
carefully, as they describe your rights and restrictions with respect
to this document. Code Components extracted from this document must
include Simplified BSD License text as described in Section 4.e of
the Trust Legal Provisions and are provided without warranty as
described in the Simplified BSD License.</p>
